        <div class="copy_box01">
            <div class="foot">
                <div class="servicebg">
                    <div class="content">
                        <div class="service service01 fl">
                            <div class="name">当天财富客服</div>
                            <div class="num">400-058-0999</div>
                        </div>
                        <div class="service service02 fl">
                            <div class="name">金鹿财行客服</div>
                            <div class="num">400-003-3699</div>
                            <p>原翰典金融、魔环金融、趣豆理财、宝驼贷、<br />创信资本和基冉资管的客户也可拨打咨询</p>
                        </div>
                        <div class="service service03 fl">
                            <div class="name">玖玖金服客服</div>
                            <div class="num">400-989-9365</div>
                        </div>
                    </div>
                    <div class="time">工作时间：周一至周五，早上9:00-17:00</div>
                </div>
                <div class="copyright">
                    <p>总部地址：上海市长宁区虹桥路1438号 古北国际财富中心二期32层</p>
                    <p>© 上海快鹿投资集团 2016 版权所有 沪ICP备05028542号-1</p>
                </div>
            </div>
       </div> 