<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>快鹿投资者服务中心</title>
</head>
<body>
<div layout:fragment="content">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
        	展期协议签署列表
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
           <form action="#">
            <div class="box-header">	
              <p></p>
                <div class="row">
				<div class="col-xs-3">
					<div class="form-group">
					<label>主题:</label>
                		<input type="email" class="form-control" id="" placeholder="公告主题" />
              		</div>
			    </div>
		      </div>
                <div class="row">
				<div class="col-xs-3">
					<div class="form-group">
					<label>选择板块:</label>
                		<select
							class="form-control select2 select2-hidden-accessible"
							style="width: 100%;" tabindex="-1" aria-hidden="true">
							<option selected="selected">首页</option>
						</select>
              		</div>
			    </div>
		      </div>
		     
		      
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              
				<script src="/plugins/ckeditor/ckeditor.js"></script>
				<textarea name="editor1" id="editor1" rows="10" cols="80"></textarea>
				<script>
					// instance, using default configuration.
					CKEDITOR.replace('editor1');
				</script>
			
            </div>
            <div class="box-footer">	
              <p></p>
                <div class="row">
				<div class="col-xs-3">
					
			    </div>
			    <div class="col-xs-2">
					<div class="form-group">
                		<button type="button" class="btn btn-block btn-primary btn-lg">预览</button>
              		</div>
			    </div>
			    <div class="col-xs-2">
					<div class="form-group">
                		<button type="button" class="btn btn-block btn-success btn-lg">确认</button>
              		</div>
			    </div>
			    <div class="col-xs-2">
					<div class="form-group">
                		<button type="button" class="btn btn-block btn-info btn-lg">返回</button>
              		</div>
			    </div>
			    <div class="col-xs-3">
					
			    </div>
		      </div>
		      
            </div>
           </form>
            
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<script type="text/javascript">
$(function(){
	  $('.content').addClass('active');
});
</script>
</body>
</html>