<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
  <title>会员详情</title>
</head>
<body>
<div layout:fragment="content">
   <!-- Content Header (Page header) -->
   <section class="content-header">
      <h1>
        	会员详情
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
           		<div class="box-header with-border">
              <h3 class="box-title">基本资料</h3>
            </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
           			<div class="col-xs-1"></div>
           			<div class="col-xs-3">
           			<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-4 control-label">姓名:</label>
	                        <div class="form-control-static" th:text="${customer.idCardName}"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">身份证号码:</label>
	                        <div class="form-control-static" th:text="${customer.idCardAccount}"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">邮箱:</label>
	                        <div  class="form-control-static" th:text="${customer.email}"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">银行名称:</label>
	                        <div  class="form-control-static" th:text="${#strings.isEmpty(customer.bankInfo)}?' ':${customer.bankInfo.name}"></div>
						</div>
						</div>
					</div>
           			<div class="col-xs-3">
           			<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label">所在地:</label>
	                        <div class="form-control-static" th:text="${customer.residenceCity}"></div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">手机号码:</label>
	                        <div  class="form-control-static" th:text="${customer.phone}">张三</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">开户行:</label>
	                        <div class="form-control-static" th:text="${#strings.isEmpty(customer.bankInfo)}?' ':${customer.bankInfo.subbranch}">开户行</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">银行卡号:</label>
	                        <div class="form-control-static" th:text="${#strings.isEmpty(customer.bankInfo)}?' ':${customer.bankInfo.account}">银行卡号</div>
						</div>
           			</div>
           			</div>
           		</div>
            </div>
            <!-- /.box-body -->
          </div>
          
          <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">有效证件</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="bs-example bs-example-images" data-example-id="image-shapes">
    			<a th:each="attachment:${attachments}" target="_blank" th:href="'/pic/'+${attachment.objectId}">
    				<img data-src="holder.js/140x140" class="img-rounded" alt="140x140" th:src="'/pic/'+${attachment.objectId}" data-holder-rendered="true" style="width: 140px; height: 140px;" />
  			  	</a>
  			  </div>
            </div>
            <div class="box-footer">	
              <p></p>
                <div class="row">
				<div class="col-xs-3">
					
			    </div>
			    <div class="col-xs-2">
			    </div>
			    <div class="col-xs-2">
			    </div>
			    <div class="col-xs-2">
			    </div>
			    <div class="col-xs-3">
					
			    </div>
		      </div>
		      
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
		  <div class="box">
            <div class="box-header with-border">
              <h3 class="box-title">已绑定银行卡</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
         
    			<div th:each="bankInfo:${customer.bankSet}" target="_blank" class="pull-left col-sm-2">
    				<label class="control-label" th:text="${bankInfo.name}+ '银行卡号:'">银行卡号:</label><label class="alert-danger" th:text="${bankInfo.defaulted==true}?'&nbsp;已选定&nbsp;':''"></label>
	                <div class="form-control-static" th:text="${bankInfo.account}"></div>
  			  	</div>
  			
            </div>
            <div class="box-footer">	
              <p></p>
                <div class="row">
				<div class="col-xs-3">
					
			    </div>
			    <div class="col-xs-2">
			    </div>
			    <div class="col-xs-2">
					<div class="form-group">
                		<button type="button" onclick="window.history.go(-1)" class="btn btn-block btn-primary btn-lg">返回</button>
              		</div>
			    </div>
			    <div class="col-xs-2">
			    </div>
			    <div class="col-xs-3">
					
			    </div>
		      </div>
		      
            </div>
            <!-- /.box-body -->
          </div>

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
</body>
</html>