<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>我的账户-安全设置</title>
		<link rel="stylesheet" type="text/css" href="/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
		<style type="text/css">
			label.error{
				color:#ef7523;
				margin-left: 10px;
			}
		</style>
	</head>
	<body>
		<!--页头-->
		<div th:replace="fragments/header(current='03000')" />
		<!--我的账户-->
		<div class="box_wrap myuser_title">
			<div class="box_center">
				我的账户
			</div>
		</div>
		<div class="box_center myuser">
			<div th:replace="fragments/left(current='03004')" />
			<div class="msg_main">
			<div class="my-assets">
				    <ul class="tab-title tab-head cf">
                    	<li class="active">修改密码</li>
                        <li><a th:href="@{/cust/mybankcard}">银行卡设置</a></li>
                    </ul>
                    
               <ul class="pw-content tab-content">
               <li style="display:block;">
                <ul class="amendPw">    
				<form action="/cust/change-password" id="chnagePasswordForm" method="post" style="position: relative;">
				<div th:text="${msg}" th:styleappend="${msg=='密码已修改'}?'color:#517F3E':'color:#AD6060'" style="position: absolute;top: -35px;left: 200px;"></div>
				<ul>
					<li>
						<span class="span1">原密码：</span>
						<input type="password" class="ipt" name="oldPassword" id="oldPassword" maxlength="16"/>
					</li>
					<li>
						<span class="span1">密码：</span>
						<input type="password" class="ipt" name="newPassword" id="newPassword"  maxlength="16"/>
					</li>
					
					<li>
						<span class="span1">确认密码：</span>
						<input type="password" class="ipt" name="againNewPassword" id="againNewPassword" maxlength="16" />
					</li>
                    <li>
						<span class="span1">&nbsp;</span>
						<a href="javascript:;" app-submit="chnagePasswordForm" class="q_btn ptbtn_orange" style="width: 182px; margin-top:20px;">确定</a>
					</li>
				</ul>
				</form>
			</ul>
            </li>
            </ul>
			</div>
			</div>
		</div>
		<!--版权-->
		<div th:replace="fragments/footer" />
		<script src="/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/com.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		// <![CDATA[
		   jQuery.validator.addMethod("rightPWD", function(value, element) {
			var ptn = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/;
			return this.optional(element) || (ptn.test(value));
			}, "密码必须是字母和数字组合！");
		   
		   $("#chnagePasswordForm").validate({
			   rules: {
				   oldPassword : {
					    required: true,
					    rangelength: [6,16],
					},
					newPassword: {
						required: true,
						rightPWD:true,
						rangelength: [6,16],
					},
					againNewPassword: {
						required: true,
						equalTo: "#newPassword"
					}
				},
				messages: {
					oldPassword : {
						required : "请输入原密码",
						rangelength : $.validator.format( "密码必须是{0}-{1}位字母和数字组合！" )
					},
					newPassword: {
						required: "请输入新密码",
						rightPWD:"密码必须是6-16位字母和数字组合！",
						rangelength: $.validator.format( "密码必须是{0}-{1}位字母和数字组合！" ),
					},
					againNewPassword: {
						required: " ",
						equalTo: "密码不一致"
					}
				}
			});
		// ]]>
		</script>	
	</body>
</html>