<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>忘记密码</title>
		<link rel="stylesheet" type="text/css" href="/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
		<style type="text/css">
		.error{
			color:#ef7523;
		}
		label[for]{
			text-align:left;
			width:200px;
		}
		</style>
	</head>
	<body >
		<!--页头-->
		<div th:replace="fragments/header" />
		<!--Content-->
		<div class="mt_24 box_wrap">
			<div class="box_center bgfff text_center" style="padding-top: 30px;min-height: 500px;">
				<h3 class="fs_24">忘记密码</h3>
				<img src="images/images/images/wangji1_03.jpg" class="mt_24"/>
				<div class="sign_box">
					<form id="formId" action="/forget-pwd-two" method="post">
						<ul class="">
							<li>
								<label>手机号：</label>
								<input type="text" class="ipt" name="phone" id="phone" value="" placeholder="请输入手机号" style="width: 190px;" maxlength="11"/>
								<span class="col_orange"></span>
							</li>
							
							<li>
								<label>验证码：</label>
								<input type="text" class="ipt col_999" name="imgCode" id="imgCode" value="" placeholder="请输入验证码" style="width: 190px;" maxlength="5"/>
								<div style="margin-left: 8px; display: inline-block;vertical-align: top; width: 136px;height: 42px;line-height: 42px; text-align: center; background-color: #f8f8f8;">
									<img id="changeImgCode" alt="ValidateCode" src="kaptcha" style="width:140px;height:40px;" onclick="changeVerifyCode();" />
								</div>
							</li>
							
							<li class="mt_40 ml_130">
								<a id="nextStepId" href="javascript:;" class="ptbtn ptbtn_orange" style="width: 338px;line-height: 40px;font-size: 16px;">下一步</a>
							</li>
							<li class="ml_130">
								<p class="col_999">若您无法使用上述方法找回，请联系客服400-882-3988</p>
							</li>
						</ul>
					</form>
				</div>
				
			</div>
		</div>
		
		<!--版权-->
		<div th:replace="fragments/footer" />
		
		<script src="js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/com.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
		// <![CDATA[
			
			$("input").focus(function(){
				$(this).css({borderColor:"#68b5ed"});
				if($(this).val() == this.defaultValue){
					$(this).val("").css({color:"#333"});
				}
			});
			$("input").blur(function(){
				$(this).css({borderColor:"#dadada"});
				if($(this).val() == ""){
					$(this).val(this.defaultValue).css({color:"#999",borderColor:"#dadada"});
				}
			});
			
			//点击更新图片验证码
			function changeVerifyCode(){
				$("#changeImgCode").attr("src","kaptcha");
			}
			
			//提交表单
			$("#nextStepId").click(function(){
				clearError();
				if($(".error").length==0){
					$("#formId").submit();
				}
			});
			
			function clearError(){
				$("label[for]").each(function(){
					if($(this).text()==""){
						$(this).remove();
					}
				})
			}
		// ]]>
		</script>
		
		<script type="text/javascript">
		// <![CDATA[
		            
			//自定义验证方法
			jQuery.validator.addMethod("isMobile", function(value, element) {
				var length = value.length;
				var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
				return this.optional(element) || (length == 11 && mobile.test(value));
			}, "手机号码有误！");
		            
			$(function(){
			$("#formId").validate({
				errorPlacement:function(error,element){
					error.appendTo(element.parent());
				},
				rules: {
					phone : {
						required : true,
						isMobile : true,
						remote:{
							url:"/check-register-phone",
							type:"POST",
							data:{
								phone:function(){return $("#phone").val();}
							}
						}
					},
					imgCode:{
						required: true,
						remote:{
							url:"/check-img-code",
							type:"POST",
							data:{
								code:function(){return $("#imgCode").val();}
							}
						}
					}
				},
				messages: {
					phone : {
						required : "请输入手机号!",
						isMobile : "手机号码有误！",
						remote: "请输入已注册手机号!"
					},
					imgCode:{
						required: "请输入验证码！",
						remote: "验证码有误！"
					},
				}
			});
		});
		// ]]>
		</script>
	</body>
</html>
