<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>我的账户-我的资产</title>
		<link rel="stylesheet" type="text/css" href="/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/css/index.css"/>
	</head>
	<body>
		<!--页头-->
		<div th:replace="fragments/header(current='03000')" />
		<!--我的账户-->
		<div class="box_wrap myuser_title">
			<div class="box_center">
				个人资料
			</div>
		</div>
		<div class="box_center myuser">
			<div th:replace="fragments/left(current='03005')" />
			<div class="msg_main">
            	<div class="main-title">预约成功</div>
                <div class="transfer-tip">
                	<p>已预约成功，请等候1-2个工作日，审核成功后可转让。</p>
                    <a class="guapaiBtn02 wd228" th:href="@{/qc/list}">返回我的资产</a>
                </div>
			</div>
		</div>
		<!--版权-->
		<div th:replace="fragments/footer" />
		<script src="/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
        <script src="/js/com.js" type="text/javascript" ></script>	
	</body>
</html>